/*
=====================================================================
* Lambdar Icon Generator Layout
=====================================================================

   Table of Contents:
   1. Structure
   2. Common Typography Styles
   3. Grid
   4. Icons
   5. Footer
   6. Default Styles
      a. Links

===================================================================== */


/* ------------------------------------------------------------------ */
/* 1. Structure
/* ------------------------------------------------------------------ */

#wrapper {
  background: #fff;
  margin: 10px;
  padding: 0;
  width: 100%;
}

header {
}

main {
}

#icons {
}

footer {
}

/* ------------------------------------------------------------------ */
/* 2. Common Typography Styles
/* ------------------------------------------------------------------ */

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: Montserrat, serif;
}

/* ------------------------------------------------------------------ */
/* 3. Grid
/* ------------------------------------------------------------------ */

.container {
  width: 660px;
  margin: 0 auto 20px auto;
  padding: 0;
}

/* ------------------------------------------------------------------ */
/* 4. Icons
/* ------------------------------------------------------------------ */

#icons {
  width: 100%;
}

#icons canvas {
  border: 2px solid #AAAAAA;
}

#icons .icon-wrapper {
  margin: 0 0 20px 0;
  padding: 0;
}

#icons .icon-desc {
  margin: 0 0 0 15px;
  padding: 0;
}

#icons .icon-desc h1 {
  font-size: 1.5em;
  margin: 0 0 0.3em 0;
}

#icons .icon-form-label {
  width: 4em;
}

#icons .icon-controls {
  margin-left: 4.55em;
}

/* ------------------------------------------------------------------ */
/* 5. Footer
/* ------------------------------------------------------------------ */

#footer-bottom {
  border-top: 1px solid #AAAAAA;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 0.85em;
}

/* ------------------------------------------------------------------ */
/* 6. Default Styles
/* ------------------------------------------------------------------ */

/*  a. Links  ------------------------------------------------------- */

a, a:visited {
  text-decoration: none;
  outline: 0;
  color: #7AA300;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

a:hover, a:focus {
  color: #2F8DBC;
}

p a,
p a:visited {
  line-height: inherit;
}
